@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background:#EEF7FF ;
  scroll-behavior: none;
}

.answer-box{
  border:solid 3px white;
  padding-top: 0;
}